/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*General Styles*/
* {
    box-sizing: border-box;
    /*border: 1px pink solid;*/
    /*delete border later*/
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/*Header styles*/
nav{
    width: 800px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:baseline;
}
    /* this made the nav move around--bad
        padding: 1rem 6rem 2rem 4rem;
        --padding: 1rem 6rem 2rem 4rem; could i have done this?
        both don't realy adjust to screen if i zoom in/out...
        or 1% 8% 2% 5.5%; ? --
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items:baseline;
        max-width: 100%;
        /*flex start makes the container start from the left. x axis.
        align items is the y axis 
    */

nav img{
    width: 10rem;
    display: flex;
    /*flex-wrap: row;*/
    justify-content:flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 35px;
    margin-top: 15px;
}

nav a{
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    padding-top: 1 rem;
    padding-left: 1 rem;
    padding-right: 1rem;
    text-decoration: none;
    color: black;
    font-size: 0.85rem; 
}

.topImage{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 2%;
}


/*Body styles*/
.about-container{
    width: 800px;
    margin: 0 auto;
}

.top-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*margin-bottom: 20px;*/
    border-bottom: 1px dashed black;
    margin-left:10px;
}

.top-about .text-container{
    width: 98%;
    padding: 0 0.5%;
    padding-bottom: 3%;
}

/*body--middle-about styles*/
.middle-about{
    /*margin-bottom: 20px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    padding: 24px;
    padding-bottom: 0px;
    /*this display flex will adjust the boxes so it's
    side by side*/
}

.middle-about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px dashed black;
    width: 350px;
    /*margin: 5px;*/
    margin-bottom: 40px;
    /*this display flex messes with the stuff INSIDE
    each container
    */
}

/*how tf do i get each container to be side 
by side--fixed*/


/* idk if i need this
.container .img-container{
    display: flex;
    align-items: center;
} --nah
*/

.container .img-container img{
    width: 350px;
}

.text-container {
    /*padding-top: 10px;*/
    line-height: 40px;
    padding-bottom: 15px;
}

.text-container a{
    border: 2px solid grey;
    border-radius: 10px;
    text-decoration: none;
    padding: 4px 11px;
}

.text-container p{
    margin-bottom: 10px;
}
/*bottom styles*/
.bottom-about .text-container{
    padding: 0px 30px 50px;
}

/*footer styles*/
footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

footer nav {
    padding-right: 250px;
}

footer nav a{
    color: white;
    width: 100px;
    padding-top: 20px;
}